<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">    
    <title>{{page.title}} | {{site.name}}</title>
    
    {% seo %}

    <link rel="shortcut icon" type="image/x-icon" href="{{site.baseurl}}/{{site.favicon}}">
    
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.1.1/dist/css/bootstrap.min.css">
    
    <!-- <link rel="stylesheet" href="{{site.baseurl}}/assets/css/theme.css"> -->
    
    
    {% include head.html %}

<style>
.grid-item { width: 236px; }
.grid-item--width2 { width: 472px; }

.grid-item img{border-radius: 16px;}
</style>
    
</head>
    
<body>
    
    		{% include header.html %}
    
    <main role="main">        
        {{ content }}        
    </main>
    
    
    {% include footer.html %}
     
</body>
    
</html>
